* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #FFF7D6;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 62.5%;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555A32;
  margin-bottom: 45px;
  z-index: 3;
  animation-delay: 0.2s;
}
nav h1 {
  font-size: 3.6rem;
  padding-left: 30px;
  font-weight: 500;
}
nav .navbar-icons {
  display: flex;
  gap: 15px;
  padding-right: 60px;
}
nav .navbar-icons buttom {
  background: none;
  border-style: none;
}

.redHeart {
  fill: red !important;
}

@keyframes show {
  from {
    opacity: 0%;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
.product-card-healthcare, .main-product .main-product-furniture .product-card-furniture {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.icon__menu {
  fill: #555A32;
  position: fixed;
  top: 35px;
  right: 15px;
  z-index: 100;
}

.navbar__menu :hover {
  fill: #b3c98a;
}

main {
  width: 100%;
  height: auto;
}
main .main-header {
  display: flex;
  flex-direction: column;
  padding: 0px 25px 0px 25px;
  margin-bottom: 50px;
  z-index: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
main .main-header p.first_paragraph {
  display: flex;
  flex-direction: column;
  font-size: 42px;
  line-height: 5rem;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 25px;
  padding: 0px;
  margin: 0px 90px;
  text-wrap: pretty;
}
main .main-header .main-header-text {
  color: #555A32;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: -40vh;
  line-height: 1.2;
}
main .main-header .main-header-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-image: url("/assets/img/main-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 36px;
  position: relative;
  margin-top: 30px;
}
main .main-header .transparent_1 {
  opacity: 0;
  font-size: 80px;
  animation-delay: 0.4s;
}
main .main-header .transparent_2 {
  opacity: 0;
  font-size: 80px;
  animation-delay: 0.5s;
}
main .main-header .transparent_3 {
  opacity: 0;
  font-size: 80px;
  animation-delay: 0.3s;
}
main .main-header .transparent_4 {
  opacity: 0;
  font-size: 80px;
  animation-delay: 0.6s;
}

.main-product {
  width: 100%;
  height: auto;
  padding: 0px 20px 40px 20px;
}
.main-product h2 {
  font-size: 3.2rem;
  font-family: "Raleway", sans-serif;
  color: #555A32;
  padding-bottom: 20px;
}
.main-product p.moving_subtitles {
  font-size: 1.8rem;
  padding: 10px 10px 8px 10px;
  justify-self: flex-start;
}
.main-product .main-product-healthcare, .main-product .main-info, .main-product .main-product-furniture {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.main-product .main-product-healthcare .product-card-healthcare, .main-product .main-info .product-card-healthcare, .main-product .main-product-furniture .product-card-healthcare, .main-product .main-product-furniture .product-card-furniture {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-width: 130px;
  height: auto;
  background-color: #e2cb6d;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0px 7px 22px -3px rgb(202, 191, 149);
  margin-bottom: 10px;
}
.main-product .main-product-healthcare .product-card-healthcare svg, .main-product .main-info .product-card-healthcare svg, .main-product .main-product-furniture .product-card-healthcare svg, .main-product .main-product-furniture .product-card-furniture svg {
  justify-self: flex-end;
  margin-left: auto;
  width: 50px;
  height: 50px;
  padding: 10px 20px 10px 0px;
}
.main-product .main-product-healthcare .product-card-healthcare svg path, .main-product .main-info .product-card-healthcare svg path, .main-product .main-product-furniture .product-card-healthcare svg path, .main-product .main-product-furniture .product-card-furniture svg path {
  stroke: #ffffff;
}
.main-product .main-product-healthcare .product-card-healthcare .card-healthcare-img, .main-product .main-info .product-card-healthcare .card-healthcare-img, .main-product .main-product-furniture .product-card-healthcare .card-healthcare-img, .main-product .main-product-furniture .product-card-furniture .card-healthcare-img, .main-product .main-product-furniture .product-card-furniture .card-furniture-img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-product .main-product-healthcare .product-card-healthcare .card-healthcare-img img, .main-product .main-info .product-card-healthcare .card-healthcare-img img, .main-product .main-product-furniture .product-card-healthcare .card-healthcare-img img, .main-product .main-product-furniture .product-card-furniture .card-healthcare-img img, .main-product .main-product-furniture .product-card-furniture .card-furniture-img img {
  display: flex;
  height: 500px;
  width: 42vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  align-items: center;
  border-radius: 12px;
}
.main-product .main-product-healthcare .product-card-healthcare h3, .main-product .main-info .product-card-healthcare h3, .main-product .main-product-furniture .product-card-healthcare h3, .main-product .main-product-furniture .product-card-furniture h3 {
  font-size: 2.2rem;
  padding: 10px 10px 8px 10px;
}
.main-product .main-product-healthcare .product-card-healthcare p, .main-product .main-info .product-card-healthcare p, .main-product .main-product-furniture .product-card-healthcare p, .main-product .main-product-furniture .product-card-furniture p {
  font-size: 1.8rem;
  justify-self: flex-start;
  padding: 0px 10px 20px 10px;
}
.main-product .main-product-furniture h2 {
  color: #555A32;
}
.main-product .main-product-furniture .product-card-furniture {
  background-color: #b3c98a;
}
.title_deco {
  position: relative;
  width: auto;
  height: auto;
  z-index: 1;
}

div.background-color_1 {
  position: absolute;
  background-color: #555A32;
  width: 350px;
  height: 50px;
  z-index: 20;
}

div.background-color_2 {
  position: absolute;
  background-color: #555A32;
  width: 350px;
  height: 50px;
  z-index: 20;
}

.backgraund__animated {
  animation: reduceWidth 1.5s forwards;
  transition: ease-in-out;
}

@keyframes reduceWidth {
  0% {
    width: 350px;
  }
  100% {
    width: 0%;
  }
}
.main-info h2, .main-info h3 {
  font-size: 2.4rem;
  padding-left: 20px;
  font-family: "Raleway", sans-serif;
  color: #555A32;
  padding-bottom: 60px;
}
.main-info .ecology_icon, .main-info .earth_icon {
  opacity: 0;
  animation-delay: 0.3s;
}
.main-info .ecology_icon.animate__animated, .main-info .earth_icon.animate__animated {
  opacity: 1;
}
.main-info .main-info-mission_vision {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-info .main-info-mission_vision .info-aboutus-rigth, .main-info .main-info-mission_vision .info-aboutus-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #463B0C;
  padding-bottom: 30px;
}
.main-info .main-info-mission_vision .info-aboutus-rigth img, .main-info .main-info-mission_vision .info-aboutus-left img {
  display: flex;
  align-items: center;
  align-content: center;
  height: 80px;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.main-info .main-info-mission_vision .info-aboutus-rigth p, .main-info .main-info-mission_vision .info-aboutus-left p {
  font-size: 1.6rem;
  text-align: center;
  padding: 0px 80px 0px 80px;
}
.main-info .main-info-gallery {
  margin-bottom: 60px;
}
.main-info .main-info-gallery .gallery-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main-info .main-info-gallery .gallery-img img {
  height: 330px;
  width: 80%;
  min-width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-bottom: 25px;
}
.main-info .main-info-gallery .gallery-img img:hover {
  transform: scale(1.1);
}
.main-info-location {
  color: #463B0C;
  margin-bottom: 30px;
}
.main-info-location p:first-of-type {
  font-size: 2rem;
  margin-top: 10px;
  padding-bottom: 5px;
}
.main-info-location p {
  padding-left: 20px;
  font-size: 1.6rem;
}
.main-info-location .info-location-map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-info-location .info-location-map img {
  width: 100%;
  height: auto;
}

footer {
  background-color: #463B0C;
  width: 100%;
  height: 150px;
  padding: 25px 25px 0px 25px;
  display: flex;
  flex-direction: column;
}
footer .footer-text {
  color: #ffffff;
  font-size: 1.2rem;
}
footer .footer-text p:first-of-type {
  font-size: 2rem;
  margin-top: 10px;
  padding-bottom: 5px;
}
footer .footer-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
footer .footer-social-media img {
  width: 30px;
  height: 30px;
  margin: 0 10px 0px 10px;
}/*# sourceMappingURL=main.css.map */