$primary-color:#FFF7D6;
$secundary-color:#e2cb6d;
$tertiary-color:#b3c98a ;
$primary-text-color:#555A32;
$secondary-text-color-icons:#ffffff;
$details-color-other: #463B0C;
$paragraph-size: 1.6rem;
$font-primary: 'IBM Plex Sans' , sans-serif;
$font-secondary: 'Raleway', sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    background-color: $primary-color;
    font-family: $font-primary;
    font-size: 62.5%;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text-color;
    border-bottom: 1px solid $primary-text-color;
    margin-bottom: 50px;
    P{
        font-size: 1.8rem;
        padding-left: 30px;
        font-weight: 500;
    }
    .navbar-icons{
        display: flex;
        gap: 15px;
        padding-right: 30px;
        buttom{
            background: none;
            border-style: none;  
        }
    } 
}

main {
    width: 100%;
    height: auto;

    .main-header {
        display: flex;
        flex-direction: column;
        padding: 0px 25px 0px 25px;
        margin-bottom: 50px;
        
    
        .main-header-text{
            color: $primary-text-color;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 25px;
           
            h1{
                font-size: 2.8rem;
                font-family: $font-secondary;
                margin-bottom: 25px;
            }
            p{
                font-size: $paragraph-size;
                line-height: 1.4rem;
                line-height: 1.8rem;
                margin-bottom: 25px;
                padding: 0px;
            }
            button{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $details-color-other;
                border-radius: 16px;
                border-style: none;
                width: 160px;
                height: auto;
                margin: 0 auto;
                p{
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    justify-items: center;
                    font-size: 1.4rem;
                    color: $secondary-text-color-icons;
                    padding: 15px 25px 15px 25px;
                    margin: 0px;
                }
            }    
        }
    }
        .main-header-img{
            width: 100%;
            height: 320px;
            background-image: url('/assets/img/main-2.jpg');
            background-size:cover;
            background-position: center;
            background-repeat:no-repeat;
            border-radius: 16px;
        }   
}

.main-product{
    width: 100%;
    height: auto;
    padding: 0px 20px 40px 20px;
    h2 {
        font-size: 2.4rem;
        font-family: $font-secondary;
        color: $primary-text-color;
        padding-bottom: 20px;
    }

    .main-product-healthcare {
        padding-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .product-card-healthcare{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 48%;
            min-width: 130px;
            height: auto;
            background-color: $secundary-color;
            border-radius: 8px;
            color: $secondary-text-color-icons;
            box-shadow: 0px 7px 22px -3px rgba(202,191,149,1);
            margin-bottom:10px;
        
            svg {
           
            justify-self: flex-end;  
            margin-left: auto;
            padding: 3px;
            }
             svg path {
            stroke: $secondary-text-color-icons; 
            }   
            img {
                height: 140px;
                width: 42vw;
                padding: 10px;
                object-fit:cover;
                object-position: center;
                border-radius: 12px;
            }
            h3 {
                font-size: 1.2rem;
                padding:0px 10px 4px 10px;
            }
            p {
                font-size: 1rem;
                padding:0px 10px 10px 10px;
            }  
        } 
    }

    .main-product-furniture {
        @extend .main-product-healthcare;
        h2 {
            font-size: 2.4rem;
            font-family: $font-secondary;
            color: $primary-text-color;
            padding-bottom: 20px;
            }
        .product-card-furniture{
            @extend .product-card-healthcare;
            background-color: $tertiary-color;
        }
    }      
}

        

.main-info{
    padding: 0px 25px 40px 25px;

    .main-info-aboutus{
        padding-bottom: 40px;
    }
}

footer {
    background-color: $details-color-other;
    width: 100%;
    height: 150px;
    padding: 25px 25px 0px 25px;
    color:$secondary-text-color-icons;
}