@media screen and (min-width: 768px) {

    $primary-color:#FFF7D6;
$secundary-color:#e2cb6d;
$tertiary-color:#b3c98a ;
$primary-text-color:#555A32;
$secondary-text-color-icons:#ffffff;
$details-color-other: #463B0C;
$paragraph-size: 1.6rem;
$font-primary: 'IBM Plex Sans' , sans-serif;
$font-secondary: 'Raleway', sans-serif;

@mixin flexCenter($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle{
    button {
        background: none;
        border-style: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    background-color: $primary-color;
    font-family: $font-primary;
    font-size: 62.5%;
}
 
    nav{
        P{
            font-size: 2.8rem;
            
        }
    }

    main {
        width: 100%;
        height: auto;
    
        .main-header {
            display: flex;
            flex-direction: row;
            padding: 0px 25px 0px 25px;
            margin-bottom: 50px;
            gap: 25px;
            
        
            .main-header-text{
                color: $primary-text-color;
                width: 50%;
                display: flex;
                flex-direction: column;
                margin-top: 0px;
                justify-content: space-between;
                
               
                h1{
                    font-size: 2.8rem;
                    font-family: $font-secondary;
                    margin-bottom: 25px;
                }
                p{
                    font-size: $paragraph-size;
                    line-height: 1.4rem;
                    line-height: 1.8rem;
                    margin-bottom: 25px;
                    padding: 0px;
                }
                button{
                    &:hover{
                        transform: scale(1.1);
                    }
                    p{
                        font-size: 1.6rem;
                       
                    }
                }    
            }
        }
            .main-header-img{
                width: 50%;
            }   
    }
}